/* Aseguramos que el body y html tengan un tamaño completo de la ventana */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  
  /* Logo */
  .logo1 {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    cursor: pointer; /* Indica que es clicable */
  }
  
  /* Estilo de los contenedores de los proyectos */
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: calc(100% - 400px); /* Reducimos el ancho para dar espacio a los lados */
    margin-top: 140px;
    box-sizing: border-box;
    overflow-y: auto; /* Permitir desplazamiento vertical si el contenido es largo */
    max-height: calc(100vh - 140px); /* Ajustar la altura para no sobrepasar el contenedor */
    padding: 0 30px; /* Espaciado lateral */
  }
  
  /* Estilo de cada tarjeta de proyecto */
  .project-card {
    width: calc(50% - 10px); /* Dos por fila */
    background-color: black;
    padding: 7px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    max-width: calc(50% - 10px);
    height: auto;
    max-width: 500px; /* Limita el ancho máximo de cada tarjeta */
  }
  
  /* Imagen y título del proyecto */
  .project-image {
    background-color: rgba(21, 96, 130, 0.7); /* Fondo azul opaco */
    color: white;
    font-size: 1.5rem;
    padding: 0; /* Eliminar padding */
    margin-bottom: 10px; /* Eliminar márgenes */
    height: 200px; /* Altura fija */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%; /* Asegura que ocupe todo el ancho */
    overflow: hidden; /* Evita desbordes */
  }
  
  /* Ajuste de la imagen dentro del contenedor */
  .project-image img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho */
    height: 100%; /* Hace que la imagen ocupe toda la altura */
    object-fit: cover; /* Asegura que la imagen se recorte adecuadamente y ocupe todo el contenedor */
    object-position: center; /* Centra la imagen para mejorar el recorte */
    display: block; /* Asegura que no haya espacio debajo de la imagen */
    margin: 0; /* Eliminar margenes */
  }
  
  /* Título del proyecto */
  .project-title {
    background-color: rgba(21, 96, 130, 0.7); /* Fondo azul opaco */
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    cursor: pointer;
  }
  